.filter-button {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  border: 1px solid rgba(16, 24, 40, 0.2); /* Використовуйте змінну для кольору рамки */
  border-radius: 10px;
  /* padding: 17px 40px;
  width: 112px;
  height: 95px; */
  text-align: center;
  cursor: pointer;
  background-color: #fff; /* Фон кнопки */
  transition: background-color 0.3s, border-color 0.3s; /* Анімація для фону та рамки */
}

/*.filter-button span {
  margin-top: 8px;  Простір між іконкою та текстом */
/* display: block;
} */

.filter-button:hover {
  background-color: var(--button-hover-bg); /* Колір фону при наведенні */
  border-color: var(--button-hover-border); /* Колір рамки при наведенні */
}
