.container {
  width: 100%;
  max-width: 1440px;
  padding: 100px 64px;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}
