.formContainer {
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 10px;
  padding: 24px;
  width: 448px;
  height: 532px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
}

.formTitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
  margin: 0 0 8px 0;
}

.formSubtitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--text);
  margin: 0 0 24px 0;
}

.formInput {
  gap: 14px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.inputWrapper {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.inputField {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--text);
  border-radius: 10px;
  padding: 18px;
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: #f7f7f7;
}

.nameField,
.emailField,
.dateField {
  height: 56px;
}

.nameField,
.commentField,
.emailField,
.dateField:focus {
  outline: none;
  box-shadow: none;
}

.commentField {
  height: 114px;
  padding: 18px;
  box-sizing: border-box;
  resize: none;
}

.submitButton {
  border-radius: 200px;
  padding: 16px 60px;
  width: 160px;
  height: 56px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #fff;
  background-color: #e44848;
  border: none;
  cursor: pointer;
  margin-top: 24px;
}

.dateWrapper {
  position: relative;
  width: 100%;
  height: 56px;
  background: #f7f7f7;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 0 18px;
}

.dateField {
  height: 100%;
  width: 100%;
  border: none;
  background: #f7f7f7;
  border-radius: 10px;
  box-sizing: border-box;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
}

.calendarIcon {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: var(--text);
}

.tooltip {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f44336;
  color: white;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 4px;
  margin-top: 4px;
  white-space: nowrap;
  z-index: 10;
  transform: translateY(6px);
}

.alert {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 150%;
  color: var(--text);
  text-align: center;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border: 1px solid #f44336;
  border-radius: 4px;
  padding: 10px;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.5s;
}
