.modalContent {
  width: 902px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 40px;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  z-index: 2100; /* Забезпечує, що кнопка закриття завжди поверх модального контенту */
}

.camperName {
  font-size: 24px;
  line-height: 1.25;
  margin-bottom: 8px;
  margin-top: 0;
}

.camperAdditionalInfo {
  display: flex;
  gap: 16px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  width: 267px;
  height: 24px;
}

.iconContainer {
  display: flex;
  gap: 4px;
  align-items: center;
  stroke: #101828;
}

.star {
  color: gold;
  width: 16px;
  margin-right: 4px;
}

.rating {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
  margin-bottom: 24px;
  margin-top: 0;
  color: #333;
}

.gallery {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
  padding: 0;
  list-style: none;
}

.gallery li {
  flex: 0 0 auto;
}

.galleryImage {
  border-radius: 10px;
  width: 290px;
  height: 310px;
  object-fit: cover;
}

.description {
  color: #475467;
  margin-bottom: 44px;
  margin-top: 0;
}

.buttonContainer {
  position: relative;
  padding-bottom: 24px;
  display: flex;
  gap: 40px;
}

.buttonContainer::before {
  content: "";
  position: absolute;
  bottom: 0; /* Розміщує лінію понизу контейнера кнопок */
  left: 0;
  height: 5px; /* Висота червоної лінії */
  background-color: #e44848; /* Червоний колір */
  width: 58px; /* Ширина лінії по змісту кнопок */
  height: 5px;
  z-index: -1; /* Залишає лінію під кнопками */
  /* Встановлює ширину червоної лінії відповідно до кнопок */
  padding: 0 10px; /* Додає трохи відступів з боків */
}

.buttonContainer::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 1px;
  background-color: rgba(16, 24, 40, 0.2);
  width: 100%;
}

.infoButton {
  border: none;
  padding: 0;
  background: transparent;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  z-index: 1; /* Переконатися, що кнопки поверх лінії */
}

.infoButton:hover,
.infoButton:focus {
  background: transparent;
}

.selectedButton {
  /* Якщо потрібно, можна додати стилі для виділених кнопок */
}
